<html>
  <head>
    <title>Flask App</title>
  </head>
  <body>
    <h1>{{message}}</h1>

    <h5 align="right">Truncate Data (Reduce size)</h5>
    <p align="right"><a href=truncate ><button class=grey style="height:25px;width:125px">Reduce Data Size</button></a></p>

    <p>Portworx at Edge: Deep Machine Learning with Keras (on Tensorflow 2.0)</p>
    <p> - Portworx Sharedv4 at the edge is streaming data from an IoT thermostat. You can view live data of this IoT device, or run priductions on the last 50,000 data points using Tensorflow 2.0. The ML model is produced at the core Kubernetes infrastructure while the edge collects data.</p>

    <h5 align="center">View Live Data</h5>
    <p align="center"><a href=graph ><button class=grey style="height:75px;width:150px">Live Data</button></a></p>

    <h5 align="center">Run Prediction - (This takes some time to process and load, please be patient)</h5>
    <p align="center"><a href=predict ><button class=grey style="height:75px;width:150px">Run Prediction</button></a></p>

  </body>
˘