<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>Flask App</title>

    <style type='text/css'>
    body {
        margin: 10px;
        padding: 10px;
    }
    </style>
    <title>Sensor Predictions</title>
  </head>
  <body>
    <p align="left"><a href="/" ><button class="btn btn-primary">Home</button></a></p>
    <h3>Sensor Predictions</h3>
    <h4>{{accuracy}}</h1>
    <h4>Download Prediction Model</h3>
  <a href="/static/saved_model.h5" download="saved_model.h5">Download saved model.h5</a>
    <h4>Learning Data (Training Set)</h4>
	<img src="/static/temp_over_time_pre_prediction.png" alt="pre" width="80%" height="auto">
    <h4>LSTM Trained Prediction (Redline is trained predictions)</h4>
	<img src="/static/temp_over_time_post_prediction.png" alt="post" width="80%" height="auto">
    <h4>LSTM Future Prediction</h4>
  <img src="/static/temp_over_time_future_prediction.png" alt="post" width="80%" height="auto">
  </body>
</html>